@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AuthTokenUrl</title>
</head>
<body>
    <div>
        <a href="@Html.Raw(ViewBag.Body)">授权</a>
    </div>
</body>
</html>
