
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <title>滴滴驾考</title>
    <link rel="stylesheet" type="text/css" href="/Content/css/amazeui.min.css">
    <link rel="stylesheet" type="text/css" href="/Content/css/sprites.css">
    <link rel="stylesheet" type="text/css" href="/Content/css/index.css">
</head>
<body id="success">
    <div class="success">
        <div class="success-bar">
            <img src="/Content/static/img/success.png">
        </div>
        <p class="success-txt">提交成功</p>
        <p class="success-note">
            <span>很抱歉，我们已收到您的投诉</span>
            <span>会在24小时内为您解决</span>
        </p>
    </div>

    <div class="back">
        <a href="@Url.Action("Index")">回到首页</a>
    </div>
    <!--[if (gte IE 9)|!(IE)]><!-->
    <script src="/Content/js/jquery.min.js"></script>
    <!--<![endif]-->
    <!--[if lte IE 8 ]>
    <script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
    <script src="src/js/amazeui.ie8polyfill.min.js"></script>
    <![endif]-->
    <script src="/Content/js/amazeui.min.js"></script>
    <script type="text/javascript" src="/Content/js/app.js"></script>
    <script type="text/javascript" src="/Content/js/handlebars.min.js"></script>
</body>
</html>
